body{
  background-color: #d3cfcf;
  padding: 10px;
}

table{
  width: 100%;
}

button#highlightButton {
    font-size: 30px;
    font-style: normal;
    font-weight: 350;    
    font-family: 'Gotham Rounded', sans-serif;
    letter-spacing: 3px;
    border-width: 2px;
}

img#logo{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

#title {
  margin-bottom: 10px;
}

.title-text {
  font-family: 'Gotham Rounded', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0 !important;
}

.subtitle-text {
  font-family: 'Gotham Rounded', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 10px;
}

.subtitle-text-nav {
  font-family: 'Gotham Rounded', sans-serif;
  font-weight:400;
  font-size: 15px;
  white-space: nowrap; 
  margin-bottom: 0 !important;
  margin: 0 15px;
  width: 250px;
}

.nav-btn:hover {
  background-color:#f0f0f0;
  transition: all 0.5s;
}

/* Style buttons */
.nav-btn {
  background-color: transparent;
  border-radius: 60px;
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  align-items: center;
  align-content: center;
}

.btn-detect {
  align-items: center !important;
  justify-content: center !important;
  background-color: #3B8B6A !important;
  border: none !important;
  color: #f0f0f0 !important;
  transition: all 0.6s !important;
}

.btn-before-detect {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-detect:hover {
  transition: all 0.6s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  opacity: 0.8;
}


.detect-icon {
  margin-right: 10px;
  fill:#f0f0f0;
}

/* loading icon */
.loader {
  height: 35px;
}

.loader path {
  fill: #f0f0f0;
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}
.loaderreverse {
  animation-direction: reverse !important;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}

.visually-hidden {
  transition: all 0.6s;
}